:root {
    --primary: #0a8585;
    --secondary: #3fc9d3;
    --light: #fff;
    --dark: #000;
    --diabled: #e7e7e7;
}
body
{
    font-family: 'Lato', sans-serif;
    margin: 0;
    height: 100vh;
    background-color: var(--diabled);
}
.title
{
    font-size: 40px;
    color: black;
    text-align: center;
    margin-bottom: 200px;
    border-color: black;
}
.logos
{
    width: 30px;
    height: 30px;
}
.img
{
    margin-top: 5px;
}
.regresar
{   
    font-size: 20px;
    width: 100px;
    margin-right: 0;
    margin-left: 0;
    background-color:white;
    color:black;
    margin-bottom: 5px;
    border-bottom: #000 100%;
}
.div-title
{
    margin-bottom: 5px;
    border-bottom: #000 4px;
}
*:first-letter 
{
    text-transform: capitalize;
}

.roundBorder 
{
    border-radius: 5px;
    margin-top: 5px;
}

.list 
{
    margin: 25px auto;
    padding: 25px;
    background-color: var(--light);
    width: 100%;
    max-width: 350px;
}

.date 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dateRight 
{
    display: flex;
    align-items: center;
}

#dateNumber 
{
    font-size: 50px;
}

#dateText 
{
    letter-spacing: 3px;
    text-transform: uppercase;
}

#dateMonth,
#dateNumber,
#dateText 
 {
    font-weight: bold;
}

#dateMonth,
#dateYear
 {
    margin-left: 7px;
    font-size: 20px;
}

form 
{
    margin: 20px 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 35px auto;
    grid-column-gap: 15px;
}

input 
{
    border: none;
    padding-left: 10px;
    background-color: var(--diabled);
}

input:focus 
{
    outline: none;
}

.addTaskButton,
.orderButton 
{
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.addTaskButton 
{
    height: 35px;
    border-radius: 50%;
    font-size: 18px;
    background-color: var(--diabled);
}

.orderButton 
{
    background-color: var(--secondary);
    color: var(--light);
}

.task 
{
    background-color: var(--primary);
    padding: 15px;
    margin-top: 15px;
    color: var(--light);
    cursor: pointer;
}
.done 
{
    background-color: var(--diabled);
    text-decoration: line-through;
    color: var(--dark);
}